:root {
    --maxSize: min(100vw, 100vh);
    --height: calc(var(--maxSize)/2);
    --pieceSize: calc(var(--maxSize)/15);
    --woodColor: #5B270B;
    --sideWoodColor: #A55B53;
    --triangleColor1: black;
    --triangleColor2: red;
    --pieceColor1: black;
    --pieceColor2: red;
}
*{
    margin: 0;
    box-sizing: border-box;
}
#board{
    background-color: var(--woodColor);
    width: var(--maxSize);
    height: var(--maxSize);
    z-index: -2;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
#leftHome, #rightHome, #middle{
    height: calc(var(--height)*2);

}

#rightSide, #leftSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* /* width: 100vw; */
    height: var(--height);
}
/* #bottomLeft, #topLeft, #topRight, #bottomRight{ */
    /* display: flex; */
    /* justify-content: space-between; */
    /* height: var(--height); */

/* } */
#topLeft, #topRight{
    display: flex;
    justify-content: space-between;
    height: var(--height);

}
#bottomLeft, #bottomRight{
    display: flex;
    height: var(--height);
    flex-direction: row-reverse;

}
.piece{
    /* width: var(--maxWidth); */
    width: var(--pieceSize);
    height: var(--pieceSize);
    border-radius: 50%;
    border: 1px solid green;
    /* flex: 1; */
    z-index: 2;
    

}
.team1{
    background-color: var(--pieceColor1);
}
.team2{
    background-color: var(--pieceColor2);
}
.spot{
    /* display: flex; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: var(--pieceSize);
    height: var(--height);

}
.bottomSpot{
    justify-content: flex-end;

}
.side{
    background-color: var(--sideWoodColor);
}
#rightHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    margin: 5px 0;
    padding: 0;
}
#diceSpot{
    position: absolute;
    z-index: 4;
    font-size: 36;
    left: calc(var(--height)/3);
    top: var(--height);
    display: flex;
}
.dice{
    margin: 2px;
    background-color: white;
    padding: 5px 10px;

}
