body{
    background-color: #CDF0FF;
}

header{
    height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-style: italic;
}

main{
    height:85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

#iframeDiv{
    width:100%;
    display: flex;
    justify-content: space-around;
}

.iframe{
    width:250px;
    height:175px;
    border:none;
    border-radius: 3%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.iframe:hover{
    transform: scale(1.05);
    transition: transform 1s;
}


