body{
    background-color: #CDF0FF;
}

header{
    height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-style: italic;
}

main{
    height:85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    flex-direction: column;
}

#gameBoard{
    width:340px;
    height:450px;
    /* border:1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.cardDiv{
    background-color: transparent;
    width: 22%;
    height: 20%;
}

.cardFront{
    display: none;
    width: 100%;
    height:100%;
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
    
}

.cardBack{
    width: 100%;
    height:100%;
}

img{
    width: 100%;
    height: 100%;
}

#buttonsDiv{
    width:20%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}