body{
    background-color: #CDF0FF;
}

header{
    height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-style: italic;
}

main{
    height:85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    
}

.inputDiv{
    margin-bottom: 30px;
}

.inputBox:focus{
    border:blue solid;
}

input{
    
}

.buttonDiv{
    display: flex;
    justify-content: space-around;
    
}

button{
    font-style: italic;
    border-radius: 20%;
    padding:8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover{
    background-color: #1c7EA6;
}
